{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Autorzy</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                <td>{{ author.name }}</td>
                <td>{{ author.surname }}</td>
                <td><a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-success">Szczegóły</a>
                    <a href="{{ path('author_edit', { 'id': author.id }) }}" class="btn btn-default">Edytuj</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('author_new') }}" class="btn btn-success">Dodaj autora</a>

{% endblock %}
